@import url(./font.css);
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    .webkit-text-stroke {
        -webkit-text-stroke: 1px #fff;
    }
    .webkit-text-stroke-dark {
        -webkit-text-stroke: 1px #000000;
    }
}

body {
    font-family: 'Satoshi-Variable', sans-serif;
}

.gallient {
    font-family: 'Gallient';
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #d45418;
    border-radius: 15px;
}